* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}



body {
  overflow: auto;
}

#scene {
  position: relative;
  width: 1265px;
  height: 1400px;
  margin: 0 auto;
  overflow: hidden;
}


#scene img {
  position: absolute;
}
canvas {
  position: fixed !important;
  inset: 0;
  z-index: 0 !important;
  pointer-events: none;
}

body img {
  z-index: 2;
}

#border {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* so it doesn't block clicks */
  z-index: 10; /* sits on top of everything */
}

.angel {
  position: absolute;
  width: 350px;
  height: 700px;
  top: 140px;
  left: 10px;
}
.asa {
  position: absolute;
  width: 450px;
  height: 350px;
  top: 900px;
  left: 200px;
}
.musical {
  position: absolute;
  width: 300px;
  height: 160px;
  top: 200px;
  left: 16px;
}
.sanidade {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50px;
  left: 900px;
}
.piano {
  position: absolute;
  width: 450px;
  height: 420px;
  top: 270px;
  left: 20px;
}
.fishz {
  position: absolute;
  width: 250px;
  height: 220px;
  top: 1150px;
  left: 80px;
}
.lilies {
  position: absolute;
  width: 695px;
  height: 610px;
  top: 215px;
  left: 490px;
  opacity: 0.8;
}
.hors {
  position: absolute;
  width: 395px;
  height: 310px;
  top: 855px;
  left: 790px;
}
.ponyclock {
  position: absolute;
  width: 395px;
  height: 310px;
  top: 55px;
  left: 470px;
}
/* .innitial-WOrds p {
    margin: 20;

    font-size:20px;
    line-height: 1.35em;
    text-align: center;

} */
#h1 {
  position: absolute ;
  top: 60px;
  left: 100px;
  width: 410px;
  margin: 0;

  color: white;
  font-family:arial, sans-serif;
  font-size: 20px;
  text-align: center;

  z-index: 20;
  pointer-events: none;
}